.crew-details {
	min-height: 250px;
}

.crew-desc {
	max-width: 100%;
}

.crew-item {
	list-style: none;
	background-color: #ffffff;
	border-radius: 50%;
	width: 10px;
	padding: 7px;
	margin-right: 25px;
	opacity: 0.2;
	cursor: pointer;
}

.crew-item:hover {
	opacity: 0.5;
}

.crew-list li {
	display: flex;
	justify-content: center;
}

.crew-img {
	max-height: 700px;
	height: 100%;
	object-fit: cover;
}

.active-crew {
	opacity: 1 !important;
}

/* Media queries tablet */

@media (max-width: 1200px) {
	.crew-list li {
		margin: 0 10px;
	}

	.crew-desc {
		max-width: 85%;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px; /* 175% */
	}
}

@media (max-width: 1024px) {
	
	.crew-img-container {
		margin-top: 20px;
		margin-bottom: -35px;
	}

	.crew-img {
		max-height: auto;
		height: auto;
		width: auto;
		border-bottom: 1px solid #383b4b;
	}
}

/* Media queries mobile */

@media (max-width: 768px) {
	.crew-item {
		list-style: none;
		background-color: #979797;
		border-radius: 50%;
		padding: 5px;
		margin-right: 25px;
		cursor: pointer;
	}

	.crew-list li {
		margin: 20px 10px;
	}

	.crew-details {
		min-height: auto;
		margin: 20px 0;
	}

	.crew-desc {
		max-width: 100%;
		font-size: 15px;
	}


}

@media (max-width: 576px) {
	.crew-img-container {
		height: 280px;
	}
}
