.homepage {
	background: url("/public/images/Background_complete.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 165px;
}

.homepage__content {
	max-width: 1440px;
	margin: 0 auto;
}

.light-purple-text {
	color: rgb(208, 214, 249);
}

.white-text {
	color: white;
}

.btn-explore {
	font-family: "Bellefair", sans-serif;
	font-size: 32px;
	letter-spacing: 2px;
	padding: 120px 70px;
	border-radius: 100%;
	border: none;
	transition: all 0.3s ease;
}

.btn-explore:hover {
	box-shadow: 0 0 0 50px rgba(255,255,255,0.2);
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

.row.homepage {
	--bs-gutter-x: 0 !important;
}

.destination-page {
	width: 100vw;
	height: 100vh;
	background-image: url("../public/images/Background_planets.jpg");
	padding: 250px 165px;
}

.destination-page-nr {
	color: rgb(104, 104, 104);
	font-weight: bold;
}

.destination-page-title {
	color: white;
	text-transform: uppercase;
}

/* Media queries tablet */

@media (max-width: 1200px) {
	.homepage {
		background: url("/public/images/Background_home_tablet.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 100px 100px 80px;
	}

	.btn-explore {
		font-size: 20px;
		letter-spacing: 1.25px;
		padding: 70px 40px;
		border-radius: 100%;
		border: none;
	}
}

@media (max-width: 1024px) {

}

/* Media queries mobile */

@media (max-width: 768px) {
	.homepage {
		padding: 80px 20px 20px 20px;
	}


}

@media (max-width: 370px) {
	.homepage {
		padding: 80px 10px 10px 10px;
		height: 100%;
	}
}
